DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=UTC
POSTGRES_DB=spreadsheet
POSTGRES_USER=spreadsheet
POSTGRES_PASSWORD=spreadsheet
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DB_CONN_MAX_AGE=60
POSTGRES_OPTIONS=-c statement_timeout=15000
